<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <div class="navbar-nav flex-row flex-wrap bd-navbar-nav">
    <a class="navbar-brand mx-3" href="/" aria-label="Blotto">
      <img src="../assets/lotto-balls.png" alt="Blotto" style="height:90px"/> <span class="fs-1 mx-2" style="vertical-align: middle"> Let's play B`Lotto</span>
    </a>
  </div>

  <div class="navbar-nav flex-row flex-wrap ms-md-auto">
    <button *ngIf="!metaMask.userWalletAddress" class="btn btn-lg btn-light mx-3 my-2" (click)="metaMask.connectWallet()">
      <span *ngIf="!metaMask.userWalletAddress">Connect Wallet</span>
    </button>
    <button *ngIf="metaMask.userWalletAddress" class="btn btn-lg btn-light mx-3 my-2">
      <small class="fs-6 lh-sm d-inline-block">Connected to: {{metaMask.getUserWalletNetworkName()}}
        <br/>{{metaMask.userWalletAddress}}
        <br/>{{metaMask.userEthBalance}} ETH
      </small>
    </button>
  </div>
</header>


<div class="container py-4">

  <div class="p-5 mb-4 bg-light rounded-3 opacity-75">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="display-5 fw-bold mb-2">Lottery Menu</h1>
        <div *ngIf="metaMask.isConnectedToGoerli()">
          <p><button class="btn btn-outline-success" type="button" (click)="checkStatus()" [disabled]="lotteryStatus.state==3">Check Lottery State</button></p>
          <p class="fs-6"><strong>Lottery status: </strong> <span>{{getLotterStateLabel()}} - Prize Pool: <strong><i>{{lotteryStatus.prizepool}} BLT</i></strong></span></p>
          <p class="fs-6"><strong>Lottery start: </strong> <span>{{lotteryStatus.currentBlockDate}}</span></p>
          <p class="fs-6"><strong>Lottery closes: </strong> <span>{{lotteryStatus.closingTimeDate}}</span></p>
          <p class="fs-6"><strong>Available tokens: </strong> {{lotteryStatus.tokens}} BLT</p>
          <p class="fs-6"><strong>Connected as {{lotteryStatus.owner? 'owner' : 'player'}}: </strong> <span><a href="https://goerli.etherscan.io/address/{{metaMask.userWalletAddress}}" target="_blank">{{metaMask.userWalletAddress}}</a></span></p>
        </div>
        <div *ngIf="!metaMask.userWalletAddress || !metaMask.isConnectedToGoerli()">
          <p>To Play B`Lotto you need to connect your MetaMask Wallet to the Goerli Network</p>
          <p *ngIf="!metaMask.userWalletAddress"><button class="btn btn-lg btn-warning" type="button" (click)="metaMask.connectWallet()">Connect MetaMask</button></p>
          <p *ngIf="metaMask.userWalletAddress">Open MetaMask and Switch Network from {{metaMask.getUserWalletNetworkName()}} to Goerli</p>
        </div>
        <div>
          <p class="fs-6"><strong>Lottery Contract: </strong> <span><a href="https://goerli.etherscan.io/address/{{lotteryContractAddress}}" target="_blank">{{lotteryContractAddress}}</a></span></p>
          <p class="fs-6"><strong>Token Contract: </strong> <span><a href="https://goerli.etherscan.io/address/{{tokenContractAddress}}" target="_blank">{{tokenContractAddress}}</a></span></p>
          <p class="fs-6"><strong>Lottery Owner Fee Pool: </strong> <span>{{lotteryStatus.ownerpool}}</span></p>
        </div>
      </div>
      <div class="col-sm-6">

        <div class="list-group w-auto" *ngIf="metaMask.isConnectedToGoerli()">

          <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <i class="bi bi-currency-exchange fs-5"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0">Purchase Lottery tokens 1ETH = {{tokenRatio}}BLT Ratio</h6>
                <p class="mb-0 opacity-75">Select between 1 and {{tokenRatio}} BLT tokens</p>
              </div>
              <small class="opacity-75 text-nowrap">
                <div class="input-group">
                  <input
                    class="form-control"
                    name="lotteryTokenCount"
                    type="number"
                    size="8"
                    #lotteryTokenCount
                  />
                <button class="btn btn-sm btn-dark" (click)="buyTokens( lotteryTokenCount.value )">Go</button>
                </div>
              </small>
            </div>
          </div>

          <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <i class="bi bi-cash-coin fs-5"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0">Place your bets</h6>
                <p class="mb-0 opacity-75">Select between 1 and 10 Entries</p>
              </div>
              <small class="opacity-75 text-nowrap">
                <div class="input-group">
                  <input
                    class="form-control"
                    name="spendLotteryTokens"
                    type="number"
                    size="8"
                    min="1"
                    max="10"
                    #spendLotteryTokens
                  />
                  <button class="btn btn-sm btn-dark" (click)="placeBets( spendLotteryTokens.value )">Go</button>
                </div>
              </small>
            </div>
          </div>

          <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <i class="bi bi-trophy fs-5"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0">Check player prize</h6>
                <p class="mb-0 opacity-75"></p>
              </div>
              <small class="opacity-75 text-nowrap"><button class="btn btn-sm btn-dark" (click)="displayPrize()">Go</button></small>
            </div>
          </div>


          <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <i class="bi bi-clock-history fs-5"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 *ngIf="lotteryStatus.state!==1" class="mb-0">Set Lottery Closing time</h6>
                <h6 *ngIf="lotteryStatus.state===1" class="mb-0">Lottery is open for bets</h6>
              </div>
              <span *ngIf="lotteryStatus.state===2 && lotteryStatus.owner" class="opacity-75 text-nowrap">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="openBetsDate"
                    type="datetime-local"
                    #openBetsDate
                  />
                  <button class="btn btn-sm btn-dark" (click)="openBets( openBetsDate.value )">Go</button>
                </div>
              </span>
              <span *ngIf="!lotteryStatus.owner" class="opacity-75 text-nowrap">Admin only</span>
            </div>
          </div>

          <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <i class="bi bi-calendar-x fs-5"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0">Close Lottery</h6>
                <p class="mb-0 opacity-75"></p>
              </div>
              <span *ngIf="lotteryStatus.owner && lotteryStatus.state == 1" class="opacity-75 text-nowrap"><button class="btn btn-sm btn-dark" (click)="closeLottery()">Go</button></span>
              <span *ngIf="!lotteryStatus.owner" class="opacity-75 text-nowrap">Admin only</span>
              <span *ngIf="lotteryStatus.owner && lotteryStatus.state != 1">Not yet open</span>
            </div>
          </div>

          <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <i class="bi bi-send-check fs-5"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0">Transfer Ownership</h6>
                <p class="mb-0 opacity-75"></p>
              </div>
              <span *ngIf="lotteryStatus.owner && lotteryStatus.state == 1" class="opacity-75 text-nowrap">
                <div class="input-group">
                  <input
                    class="form-control"
                    name="transferAddress"
                    type="text"
                    #transferAddress
                  />
                  <button class="btn btn-sm btn-dark" (click)="transferOwnership( transferAddress.value )">Go</button>
                </div>
              </span>
              <span *ngIf="!lotteryStatus.owner" class="opacity-75 text-nowrap">Admin only</span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="lotteryStatus.loading" class="col-sm-12">
      <br/>
      <p><strong>Processing please wait......</strong></p>
      <div class="progress" role="progressbar">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
      </div>
    </div>
  </div>


  <div class="row align-items-md-stretch" *ngIf="metaMask.isConnectedToGoerli()">
    <div class="col-md-6">

      <div *ngIf="!lotteryStatus.owner" class="h-100 p-5 text-bg-dark rounded-3 opacity-75">
        <h2>Withdraw winnings</h2>
        <div *ngIf="lotteryStatus.prizes>0">
          <p>Claimable Prize fund: {{lotteryStatus.prizes}}</p>
          <button class="btn btn-outline-light" type="button" (click)="claimPrize()">Show me the money</button>
        </div>
        <div *ngIf="lotteryStatus.prizes==0">
          <p>Claimable Prize fund: empty</p>
        </div>
      </div>

      <div *ngIf="lotteryStatus.owner" class="h-100 p-5 text-bg-dark rounded-3 opacity-75">
        <h2>OwnerPool Holdings</h2>
        <div *ngIf="lotteryStatus.ownerpool>0">
          <p>Owner Pool fund: {{lotteryStatus.ownerpool}}</p>
          <button class="btn btn-outline-light" type="button" (click)="withdrawTokens()">Show me the money</button>
        </div>
        <div *ngIf="lotteryStatus.ownerpool==0">
          <p>Owner Pool fund: empty</p>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3 opacity-75">
        <h2>Burn Tokens</h2>
        <div *ngIf="lotteryStatus.tokens>0">
          <p>Burn your BLT ({{lotteryStatus.tokens}}) in return for ETH</p>
          <button class="btn btn-danger" type="button" (click)="burnTokens()">Burn Baby Burn</button>
        </div>
        <div *ngIf="lotteryStatus.tokens==0">
          <p>Lottery Token fund: empty</p>
        </div>
      </div>
    </div>
  </div>

</div>
